<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="app-content">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `app-content`
     * Contenedor de aplicacion
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AppContent extends Polymer.Element {
      static get is() { return 'app-content'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'app-content'
          }
        };
      }
    }

    window.customElements.define(AppContent.is, AppContent);
  </script>
</dom-module>
