<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../information-card/information-card.html">
<link rel="import" href="../transactions-card/transactions-card.html">
<link rel="import" href="../succes-card/succes-card.html">
<link rel="import" href="../crypto-card/crypto-card.html">
<link rel="import" href="../checklist-element/checklist-element.html">

<dom-module id="app-content">
    <template>
    <style>
      :host {
        display: block;
      }
      h2{
        text-transform: uppercase;
      }
      .nav-bar{
        background-color: rgb(153, 0, 133);
        border-radius: 5px;
        width: 100%;
        height: 25px;
      }
      ul{
        padding: 0;
        margin: 0;
        height: inherit;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        
      }
      ul li{
        
        color: white;
        width: 50%;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      li:hover{
        background-color: rgb(110, 31, 106);
        border-radius: 5px;
      }
     
    </style>
    <h2>[[title]]</h2>

    <section class="nav-bar">
      <ul>
        <li>Transactions</li>
        <li>Confirmation</li>
        <li>Cryto-info</li>
      </ul>
    </section>
    <section class="container-cards">
      
      <template is="dom-if" if="{{formVisible}}">
        <information-card></information-card>
      </template>
    <!--Ouclta Atomos-->
    <template is="dom-if" if="{{!formVisible}}">
        <transactions-card></transactions-card>
        <succes-card></succes-card>
        <crypto-card></crypto-card>
        <checklist-element></checklist-element>
      </template>



    </section>
    </template>

    <script>
        /**
         * `app-content`
         * Contenedor de aplicacion
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class AppContent extends Polymer.Element {
            static get is() {
                return 'app-content';
            }
            static get properties() {
                return {
                    title: {
                        type: String,
                        value: 'Agrega Alumno'
                    },
                    formVisible: {
                        type: Boolean,
                        value: true
                    }
                };
            }
        }

        window.customElements.define(AppContent.is, AppContent);
    </script>
</dom-module>